
.review-card {
    display: inline-block;
    background-color:#f3eee8;
    position: relative;
    z-index: 20;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    max-height: 155px;
    min-height: 155px;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    cursor: pointer;
    padding: 0;
    border-radius: 18px;
    width: 250px;
    border-bottom: 5px solid black;
  }
  .product-image-detail{
      width: 370px;
      filter: drop-shadow(2px 4px 8px #0000007a);
      object-fit: contain;
  }

  .user-profile-image{
      border-radius: 100%;
      margin-top: 25px;
      width: 60px;
      height: 60px;
  }
  .first-half{
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      height: 40px;
  }
.brand-badge{
    background-color: #AC6C30;
    color: #FCF9F5;
}