#file{
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    left: 0;
    top:20px;
}
.uploadImage{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top:20px;
}

.formDiv{
    box-shadow: 2px 2px 16px rgba(0,0,0,0.3);
    padding:20px;
    border-radius: 20px;
    background-color: rgb(252, 249, 245);
    border-bottom: 8px solid #010101;
    width: 400px;
}
.addProductButton{
    background-color: #010101;
    border: #010101;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
    border-radius: 2px;
}

.addProductButton:hover{
    background-color: #010101;
    border: #010101;
    border-radius: 2px;
}
.input{
    border: 0.2px solid #010101;
    background-color: rgb(252, 249, 245);

}
