.hero {
    object-fit: contain;
    height: 100vh;
}

.heroCol {
    flex-direction: column;
    text-align: left !important;
    padding: 0 140px;
}

.heroH4 {
    margin-top: 20px;
    z-index: 5;
}

.bottomImageHero {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 500px;
    width: 370px;
}

.firstImageCol,
.secondImageCol {
    position: relative;
    height: 100vh;
}

.topImageHero {
    position: absolute;
    top: 90px;
    z-index: 2;
    height: 500px;
    width: 380px;
}

.abstract {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(20deg);
    margin: auto;
    width: 500px;
}

.heroH1 {
    margin-top: 60px;
    z-index: 5;
    font-size: 50px;
    font-weight: 700;
}

@media(max-width: 1090px) {
    .heroH1 {
        margin-top: 60px;
        z-index: 5;
        font-size: 30px !important;
        font-weight: 700;
    }

    .heroCol {
        flex-direction: column;
        text-align: left !important;
        padding: 0 50px;
    }
}

@media(max-width: 800px) {
    .topImageHero {
        display: none;
    }
}

@media(max-width: 768px) {
    .heroCol {
        margin-top: 100px;
        padding: 0 80px;
    }

    .firstImageCol {
        top: -40px;
    }

    .bottomImageHero {
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
        height: 450px;
        width: 320px;
    }

    .abstract {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 80px;
        right: 0;
        width: 350px;
    }
}