@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
  margin: 0;
  background-color: #E1D8CD!important;
  overflow-x: hidden;
}

code {
  font-family: 'Lato', sans-serif;
}
